@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Rubik", sans-serif;

  --color-dark-gray: hsl(0, 0%, 17%);
  --color-light-gray: hsl(0, 0%, 58%);

  --text-heading: 20px;
  --text-heading--font-weight: 500;
  --text-body: 18px;
  --text-body--font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
